.idea/
get_data.py.dist
./data/
data/
recurrentshop/__pycache__/
recurrentshop/backend/__pycache__/
seq2seq/__pycache__/
output/
data_movie/
lib/w2v_model/__pycache__/
utils/__pycache__/
lib/nn_model/__pycache__/
configs/__pycache__/
data_trans
__pycache__/
